<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FC Learning</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>FC Learning</h1>
    <h2>LEARN THE EASY WAY!</h2>
    <h3>CREATE | SAVE | REVISE</h3>
    <img src="{{ url_for('static', filename='FC_image1.png') }}" alt="FC Learning" style="width: 300px; height: auto;">
    <div>
        <button class="button" onclick="location.href='{{ url_for('process_page') }}'">Find the Process Here</button>
        <button class="button" onclick="location.href='{{ url_for('create_set') }}'">Create Flashcard</button>
        <button class="button" onclick="location.href='{{ url_for('select_set') }}'">Find Flashcard Set</button>
        <button class="button" onclick="location.href='{{ url_for('main_page') }}'">Back to Home</button>
    </div>
</body>
</html>
