<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FC Learning</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <div class="nav-left">
            <img src="{{ url_for('static', filename='FC_image1.png') }}" alt="FC Learning Logo">
            <h1>FC Learning</h1>
        </div>
        <div class="nav-right">
            <a href="/" class="active">Home</a>
            <a href="create_fc">Create Flashcard</a>
            <a href="select_set">Find Flashcard</a>
        </div>
    </nav>
    <div class="main-container">
        <div>
            <h2>LEARN THE EASY WAY!</h2>
            <h3>CREATE | SAVE | REVISE</h3>
            <img src="{{ url_for('static', filename='FC_image1.png') }}" alt="FC Learning" style="width: 350px; height: auto;">
        </div>
        <div class="content">
            <h3>Step-by-Step Process</h3>
            <p>1. Start by clicking on the "Create Set" button.</p>
            <p>2. Enter a relevant name for your set.</p>
            <p>3. Save the set.</p>
            <p>4. Enter the number of questions for the set, along with their respective answers and optional hints, then save.</p>
            <p>5. Use the "Find Set" button to locate your saved set.</p>
            <p>6. Click on the desired set to open it.</p>
            <p>7. This will take you to the flashcard view, where cards are shown one by one.</p>
            <p>8. If you saved any hints, click the "Hint" button to view them.</p>
            <p>9. Navigate through the questions using the "Next" or "Previous" buttons.</p>
            <p>10. To return to the home page, click the "Back" button.</p>
        </div>
    </div>
</body>
</html>
