<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="content">
        <h1>Step-by-Step Process</h1>
        <p>1. Start by clicking on the "Create Set" button.</p>
        <p>2. Enter a relevant name for your set.</p>
        <p>3. Save the set.</p>
        <p>4. Enter the number of questions for the set, along with their respective answers and optional hints, then save.</p>
        <p>5. Use the "Find Set" button to locate your saved set.</p>
        <p>6. Click on the desired set to open it.</p>
        <p>7. This will take you to the flashcard view, where cards are shown one by one.</p>
        <p>8. If you saved any hints, click the "Hint" button to view them.</p>
        <p>9. Navigate through the questions using the "Next" or "Previous" buttons.</p>
        <p>10. To return to the home page, click the "Back to Home" button.</p>
    </div>
    <a class="button small-button" href="{{ url_for('main_page') }}" style="margin-top: 20px;">Back to Home</a>
</body>
</html>
